/* styles.css */

#map {
    height: 800px;
}

.oval-button {
    background-color: #fdfdfd; /* White background */
    border: 2px solid #000000; /* Black border */
    color: black; /* Black text */
    padding: 10px 20px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Inline block */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Some margin */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 25px; /* Rounded corners */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition for hover effect */
}

.oval-button:hover {
    background-color: #dddddd; /* Grey background on hover */
}


body {
    font-family: Arial, sans-serif;
}

#tree {
    width: 100%;
    height: 95vh;
    border: 1px solid #ccc;
}

#controls {
    margin: 10px;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #ccc;
    border: 1px solid #999;
    border-radius: 5px;
}

header nav ul li a:hover {
    background-color: #bbb;
}

/* Additional styles for node images */
.orgchart .node img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}










